* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}
body {
    margin: 0;
   
}

main {
    display: flex;
}

header {
    overflow: hidden;
    padding: 10px 10px;
    background-color: royalblue;
}


header a{
    float: left;
    color: white;
    text-shadow: black 2px 2px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    line-height: 25px;
    border-radius: 5%;
}

.denis {
    font-size: 2rem;
}


.header a:hover {
    background-color:darkblue;
    color:goldenrod;
}

.header a.links {
    background-color: rgb(125, 154, 192);
}

.header-r {
    float: right;
}

.portrait {
    border: 15px solid white;
    border-radius: 45%;
    position: absolute;
    left: 10px;
    top: 55px;
    width: 310px;
    z-index: 2;
   
}

.placeholder {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 2px solid gray;
  }


.aboutme {
    z-index: 1;
    color: rgb(30, 70, 189);
    text-shadow: 1px 1px black;
    font-weight: bold;
    background-color: cornflowerblue;
    box-shadow: 3px 3px gray;
    position: relative;
    top: 350px;
    width: 20%;
    height: 300px;
    
}

.aboutme h2 {
    display: flex;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 2rem;
}

section {

    background-color: gray;
    border-radius: 3%;
    color: orange;
    text-shadow: 1px 1px black;
    padding: 10px;
    opacity: 75%;
    position: relative;
    top: 200px;
    width: 80%;
    height: 900px;
    

}
 
.contact {
    background-color: cadetblue;
    box-shadow: 3px 3px gray;
    width: 20%;
    top: -240px;
    height: 250px;
    padding: 30px 10px;
}

.contact h2 {
    color: white;
    text-shadow: 2px 2px black;
}


.return {
    padding: 5px 5px;
    text-align: center;
    font-size: 20px;
    background-color: cornflowerblue;
   
}

.return:hover {
    background-color: midnightblue;
    color: white;
}

footer a {
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: none;
}
/*desktop*/
@media screen and (max-width: 1200px) {
    header a{
        float: none;
        display: block;
        text-align: left;
    }

    .portrait {
        top: 90px;
        width: 40%; 
        
    }
    .aboutme {
        display: inline;
        height:400px;
        width: 40%;
    }
   .contact {
       font-size: 10px;
       position: relative;
       top: -135px;    
       display: inline-block;
       height: 200px;
       width: 34%;
   }

}

/*mobile*/
@media screen and (max-width: 480px) {
    header a{
        float: none;
        display: block;
        text-align: left;
    }

    .portrait {
        display: flex;
        top: 90px;
        width: 50%;
        
    }
    .aboutme {
        display: inline;
        height:400px;
        width: 40%;
    }
   .contact {
       font-size: 10px;
       position: relative;
       top: -135px;    
       display: inline-block;
       height: 200px;
       width: 34%;
   }
}